<% provide(:title, "Kolekcje") %>
<div class="container-fluid">
  <div class="row">
    <h1>Kolekcje</h1>
    <ul class="eksp-list">
      <% @types.each do |type| %>
        <li class= "<%= type.photo %>" >
          <%= link_to type.name, exhibits_path(collection: type.name)%>
        </li>     
      <% end %>
    </ul>
  </div>
</div>  