<body class="body-img">
<div class="container-fluid">
  <div class="row margin-top"> 
    <div class="main-in1">
      ANTYCZNE<br>KORZENIE<br>EUROPY
      <p><a href="list.html" class="btn btn-start" style="margin-top: 50px;" role="button">START</a></p>
    </div>
  </div>
</div>
</body>