<body class="body-img">
<div class="container-fluid">
  <div class="row margin-top">
    <div class="main-in1">
      ANTYCZNE<br>KORZENIE<br>EUROPY</br>
      <%= link_to "START", exhibits_path, :class=>"btn btn-default"%>
    </div>
  </div>
</div>
</body>