<div class="container-fluid" style="margin-top: 100px;">
  <div class="row center">
    <div class="mapa">
      <% @cords.each do |cord| %>
        <a href="<%= exhibit_path(cord.exhibit_id) %>"><div id="<%= cord.cord %>"></div></a>
      <% end %>
     </map>
    </div>
  </div>
</div>  