<div class="container-fluid">
  <div class="row mg-top center"> 
    <h1>Editing Exhibit</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @exhibit %> |
    <%= link_to 'Back', exhibits_path %>
  </div>
</div>