<div class="container-fluid">
  <div class="row mg-top"> 
    <h2>Dodaj nowy eksponat:</h2>

    <%= render 'form' %>
  </div>
  <%= link_to 'Wróć', exhibits_path, :class=> "btn btn-default" %>
</div>