@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}	

body{
	
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#fff;
}

main{
	margin:0px auto 50px auto;
}

.body-img{
	background-image: url("/assets/bg.png");
}
.center {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
.center-img {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.mg-top{
	margin-top: 100px;
	text-align: center;
}

.mg-medium{
	margin: 15px 10px;
}

.mg-around{
	margin: 10px 10px;

}

.tw{
	color:white;
	li{
		list-style-type: circle;
	}
}

.padd{
	padding-left: 10%;
	@media (max-width: 767px) {
		padding-left: 2%;}
	@media (max-width: 560px) {
		padding-left: 10%;
		padding-top: 5%;
		text-align: center;
	}
}

.logo {
	width: 80px;
	margin-top:15px;
}

.pull-left {
	@media (max-width: 568px) {
	padding-left: 5%;}
	}

.btn-start {
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
	margin-top: 50px;
	font-size: 13pt;
}

.btn-start:focus,
.btn-start.focus {
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
}

.btn-start:hover {
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
}

.btn-start:active,
.btn-start.active,
.open > .dropdown-toggle.btn-start {
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
}

.btn-quiz {
	color: #000;
	background-color: rgba(0,0,0,0);
	border: 2px solid #000;
	font-size: 13pt;
}

.btn-quiz:focus,
.btn-quiz.focus {
		color: #000;
	background-color: rgba(0,0,0,0);
	border: 2px solid #000;
}

.btn-quiz:hover {
	color: #000;
	background-color: rgba(0,0,0,0);
	border: 2px solid #000;
}

.btn-quiz:active,
.btn-quiz.active,
.open > .dropdown-toggle.btn-quiz {
	color: #000;
	background-color: rgba(0,0,0,0);
	border: 2px solid #000;
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	width: 100%;
	max-width: 300px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
			  background-color: #000;
			  -webkit-background-clip: padding-box;
					  background-clip: padding-box;
			  border: 0px solid #000;
			  border: 0px solid rgba(0, 0, 0, .2);
			  border-radius: 6px;
			  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 1);
					  box-shadow: 0 0px 25px rgba(0, 0, 0, 1);
			  line-break: auto;
			}
	  .popover.bottom {
			  margin-top: 40px;
			}
			.popover-title {
			  padding: 8px 14px;
			  margin: 0;
			  font-size: 17px;
			  background-color: #000;
			  font-weight: bold;
			  border-bottom: 1px;
			}

			.popover-content {
			  padding: 9px 14px;
			  background-color: #000;
			}

			.popover > .arrow,
			.popover > .arrow:after {
			  position: absolute;
			  display: block;
			  width: 0;
			  height: 0;
			  border-color: transparent;
			  border-style: solid;
			}
			.popover > .arrow {
			  border-width: 11px;
			}
			.popover > .arrow:after {
			  content: "";
			  border-width: 10px;
			}

			.popover.bottom > .arrow {
			  top: -11px;
			  left: 50%;
			  margin-left: -11px;
			  border-top-width: 0;
			  border-bottom-color: #000;
			  border-bottom-color: rgba(0, 0, 0, .25);
			}
			.popover.bottom > .arrow:after {
			  top: 1px;
			  margin-left: -10px;
			  content: " ";
			  border-top-width: 0;
			  border-bottom-color: #000;
			}
			a.main-menu-item {
			  color: #fff;
			}

			a.main-menu-item:hover,
			a.main-menu-item:focus {
			  color: #d9d9d9;
			  text-decoration: none;
			}

			a.subpanel-item {
			  color: #000;
			  text-transform: uppercase;
			  font-weight: bold;
			}

			a.subpanel-item:hover,
			a.subpanel-item:focus {
			  color: #2b2b2b;
			  text-decoration: none;
			}

			.main-menu-st {
				margin-bottom:15px;
			}

			.search-menu-st {
				margin-bottom:15px;
				text-align: center;
			}

			.nav-row {
			  margin-right: -15px;
			  margin-left: -15px;
			  background-color: #000; 
			  height: 80px; 
			  box-shadow:0px 5px 10px black;
			  position: relative;
			  right: 0;
			  left: 0;
			  z-index: 1030;
			}

			.site-m-row {
			  margin-right: -15px;
			  margin-left: -15px;
			  background-color: #ececec; 
			  height: 45px; 
			  box-shadow:0px 5px 10px rgba(0, 0, 0, .25);
			  margin-top: 80px;
			}

			.subpanel {
			  position: relative;
			  min-height: 1px;
			  padding-right: 15px;
			  padding-left: 15px;
			  float: left;
			  width: 100%;
			  margin-top: 15px;
			}

			.main-in1 {
			  position: relative;
			  min-height: 1px;
			  padding-right: 15px;
			  padding-left: 15px;
			  float: left;
			  width: 100%;
			  text-align: center; 
			  color: #fff; 
			  font-weight: bold; 
			  font-size: 25pt; 
			  margin-top: 140px;
			}

			.browse-img-style {
			  width: 100px;
			}

			.browse-h4-style {
			  color: #2e2e2e;
			  text-transform: uppercase;
			  font-weight: bold;
			  margin-top: 15px;
			}

			.browse-h5-style {
			  color: #6a6a6a;
			  text-transform: uppercase;
			  font-weight: bold;
			}

			.browse-row-style {
				background-color: #ececec;
			}

			.item-style1 {
				margin-top: 10px;
				color: #000;
			  text-transform: uppercase;
			  font-weight: bold;
			  font-size: 15pt;
			}

			.item-style2 {
				color: #4d4d4d;
			  text-transform: uppercase;
			  font-weight: bold;
			  font-size: 10pt;
			}

			.item-style3 {
				color: #000;
			  text-transform: uppercase;
			  font-weight: bold;
			  font-size: 10pt;
			  border-bottom: solid 2px #000;
			}

			.item-style4 {
				color: #4d4d4d;
			  font-size: 10pt;
			}

			.fa-ul2 {
				margin-left: 0;
			}

			#footer {
				position: fixed;
				bottom:0px;
				left: 0px;
				height:45px;
				width: 100%;
				background-color: #ececec; 
				box-shadow:5px 0px 10px rgba(0, 0, 0, .25);
				z-index: 1;
				text-align: center;
			}

			.footer-btn{
				padding: 0 30px;
				color: black;
			}

			@media (min-width: 750px) {
				main{
					width:70%;
				}

				.footer-button{
					margin-left: 0px;
				}
			}

			.eksp-list{	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.eksp-list > li{
	height: 150px;
	display: block;
	padding-top: 55px;
	text-align: center;	
	background-position: 20% 30%;
	background-size: cover;
}

.eksp-list > li:last-child{
	padding-top: 35px;
}

.eksp-list-item1{
	background-image: url("/assets/eksp-list-mitologia.png");
}

.eksp-list-item2{
	background-image: url("/assets/eksp-list-sportowcy.png");
}

.eksp-list-item3{
	background-image: url("/assets/eksp-list-postacie.png");
}

.eksp-list > li > a {
	font-size: 30px;
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 5px 15px #000;
}

.eksp-list > li > a:hover {
	text-decoration: none;
}

@media (min-width: 750px) {
	main{
		width:70%;
	}

	.eksp-list > li:last-child{
		padding-top: 55px;
	}
}

.mapa{
	background:white url(/assets/mapa.png) no-repeat 0 0;
	width: 900px;
	height: 900px;
	z-index:0;
	position:relative;
}
.mapa > a > div:active, 
.mapa > a > div:focus, 
.mapa > a > div:hover {
	background-image: url(/assets/dot.png);
	background-position: center;
    background-size: cover;
}
	
	.question-correct{
		background-color: green;
	}
	.question-wrong{
		background-color: red;
	}

#pos-eksp-1{ position:absolute; width:65px; height:65px; top:127px; left:595px; }
#pos-eksp-2{ position:absolute; width:60px; height:60px; top:197px; left:567px; }
#pos-eksp-3{ position:absolute; width:40px; height:40px; top:275px; left:580px; }
#pos-eksp-4{ position:absolute; width:40px; height:40px; top:255px; left:620px; }
#pos-eksp-5{ position:absolute; width:60px; height:60px; top:325px; left:545px; }
#pos-eksp-6{ position:absolute; width:60px; height:40px; top:354px; left:605px; }
#pos-eksp-7{ position:absolute; width:70px; height:60px; top:288px; left:658px; }
#pos-eksp-8{ position:absolute; width:70px; height:70px; top:285px; left:765px; }
#pos-eksp-9{ position:absolute; width:70px; height:40px; top:395px; left:610px; }
#pos-eksp-10{ position:absolute; width:70px; height:70px; top:375px; left:765px; }
#pos-eksp-11{ position:absolute; width:70px; height:70px; top:500px; left:610px; }
#pos-eksp-12{ position:absolute; width:70px; height:70px; top:510px; left:765px; }
#pos-eksp-13{ position:absolute; width:70px; height:70px; top:583px; left:765px; }
#pos-eksp-14{ position:absolute; width:70px; height:70px; top:605px; left:657px; }
#pos-eksp-15{ position:absolute; width:70px; height:70px; top:560px; left:543px; }
#pos-eksp-16{ position:absolute; width:70px; height:70px; top:632px; left:587px; }
#pos-eksp-17{ position:absolute; width:60px; height:70px; top:637px; left:526px; }
#pos-eksp-18{ position:absolute; width:50px; height:70px; top:657px; left:476px; }
#pos-eksp-19{ position:absolute; width:80px; height:80px; top:738px; left:579px; }
#pos-eksp-20{ position:absolute; width:60px; height:70px; top:651px; left:370px; }
#pos-eksp-21{ position:absolute; width:55px; height:70px; top:637px; left:318px; }
#pos-eksp-22{ position:absolute; width:80px; height:80px; top:738px; left:222px; }
#pos-eksp-23{ position:absolute; width:60px; height:60px; top:577px; left:291px; }
#pos-eksp-24{ position:absolute; width:40px; height:55px; top:550px; left:255px; }
#pos-eksp-25{ position:absolute; width:65px; height:40px; top:510px; left:210px; }
#pos-eksp-26{ position:absolute; width:65px; height:65px; top:627px; left:230px; }
#pos-eksp-27{ position:absolute; width:70px; height:70px; top:600px; left:160px; }
#pos-eksp-28{ position:absolute; width:70px; height:70px; top:587px; left:50px; }
#pos-eksp-29{ position:absolute; width:70px; height:70px; top:518px; left:50px; }
#pos-eksp-30{ position:absolute; width:70px; height:70px; top:370px; left:50px; }
#pos-eksp-31{ position:absolute; width:70px; height:70px; top:283px; left:50px; }
#pos-eksp-32{ position:absolute; width:70px; height:70px; top:273px; left:156px; }
#pos-eksp-33{ position:absolute; width:70px; height:50px; top:395px; left:210px; }
#pos-eksp-34{ position:absolute; width:60px; height:50px; top:345px; left:225px; }
#pos-eksp-35{ position:absolute; width:60px; height:60px; top:314px; left:285px; }
#pos-eksp-36{ position:absolute; width:70px; height:70px; top:244px; left:226px; }
#pos-eksp-37{ position:absolute; width:70px; height:45px; top:200px; left:267px; }
#pos-eksp-38{ position:absolute; width:55px; height:70px; top:116px; left:238px; }
#pos-eksp-39{ position:absolute; width:55px; height:70px; top:112px; left:297px; }
#pos-eksp-40{ position:absolute; width:70px; height:50px; top:375px; left:345px; }
#pos-eksp-41{ position:absolute; width:70px; height:50px; top:375px; left:485px; }